.footer {
  background-color: #1e1b18;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border-color: black;
  // border-style: solid;
  padding: 1rem;
  margin-top: 2rem;
  padding-right: 10rem;
}

.social-icon {
  height: auto;
  width: 3vw;
}

.footer-logo {
  width: 20vw;
  background-color: white;
}

// .footer-left {
//   display: flex;
//   flex-direction: column;
// }

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer h3 {
  text-align: center;
}

.copyright {
  text-align: center;
  padding-bottom: 1rem;
  background-color: yellow;
  p {
    color: white;
  }
}

.footer-center-items-button {
  color: white;
  background-color: transparent;
  border: 0;
  p {
    margin-bottom: 0.5rem;
  }
}

.footer-right-items-button {
  color: white;
  background-color: transparent;
  border: 0;
  p {
    margin-bottom: 0.5rem;
  }
}
