.hero {
  background-color: #0a2463;
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.family-pic {
  height: auto;
  width: 75vh;
  border-style: solid;
  border-width: 1px;
}

.agent-info {
  text-align: center;
  // background-color: blue;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

.hero-right {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding: 1rem;
}

h2 {
  text-align: center;
  color: #ffffff;
}

p {
  color: #ffffff;
}

.hero-text {
  margin: 1rem;
}

.agent-info h4 {
  color: #8d0000;
}

.div-line {
  margin: 1rem 1rem 1rem 1rem;
  height: 0px;
  // width: 90%;
  background-color: #8d0000;
  padding: 1px 1rem 1px 1rem;
  margin-left: 2rem;
}

.hero-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
