.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.panel-section {
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  p {
    color: black;
  }
}

.summary-image {
  background-color: lightgray;
  border: none;
  padding: 110px;
  border-radius: 50%;
}

.summary-button {
  background-color: #8d0000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}
