.studies {
  background-color: #415da1;
}

.movies {
  display: flex;
  flex-direction: row;
}

.movie {
  width: auto;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: black;
}

.div-line {
  margin: 1rem 1rem 1rem 1rem;
  height: 0px;
  // width: 90%;
  background-color: #8d0000;
  padding: 1px 1rem 1px 1rem;
  margin-left: 2rem;
}

.testimony {
  width: 50%;
}

.testimony-item {
  background-color: #e5e5e5;
}

.testimony-text p {
  color: black;
}
